<mat-toolbar color="primary" class="main-menu" [@sidebarEntrance]>  
  <mat-toolbar-row class="toolbar-row">
    
    <button class="menu-hamburger" id="btn-menu" mat-button="" title="Sidebar" (click)="changeState()">
      <span class="mat-button-wrapper">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
          <svg focusable="false" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
          </svg>
        </mat-icon>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidebar page-component" [@sidebareEffect]=currentState (click)="changeState()">
  <button mat-button routerLink="/home">HOME</button>
  <button mat-button routerLink="/about">ABOUT</button>
  <button mat-button routerLink="/home">HOME</button>
  <button mat-button routerLink="/about">ABOUT</button>
</mat-sidenav-container>



