.menu-hamburger {
    height: 100%;
}

.main-menu {
    background-color: #1976d2;
    box-shadow: 0px 0px 5px #222;
}

.toolbar-row {
    padding: 0;
}

.sidebar {
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    padding: 50px 0px 0px 0px;
    box-shadow: 0px 0px 5px #222;
    left: -30%;
    width: 25%;
}

.sidebar button {
    display: block;
    width: 100%;
    text-align: left;
}


/* On screens that are 992px wide or less */
@media screen and (max-width: 992px) {
    .sidebar {
        left: -45%;
        width: 40%;
    }
  }
  
  /* On screens that are 600px wide or less */
  @media screen and (max-width: 600px) {
    .sidebar {
        left: -85%;
        width: 80%;
    }
  }